.grid {
  padding: 40px 5%;
  display: grid;
  grid-template-columns: 1fr;
  gap: 30px;
  transition: background-color .8s ease-in-out;

  &--dark {
    background-color: #1a1a2e;
  }

  &--light {
    background-color: #fff;
  }

  &__footer {
    display: flex;
    justify-content: center;
    padding-bottom: 30px;
  }

  &__button {
    border: none;
    border-radius: 6px;
    outline: none;
    background-color: #645cd6;
    color: #fff;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: 18px;
    padding: 20px;
    line-height: 0;
    transition: background-color .8s ease-in-out;

    &--prev {
      margin-right: 15px;
    }
    
    &:hover {
      background-color: darken(#645cd6, 10%);
      cursor: pointer;
    }
  }
}

@media(min-width: 640px) {
  .grid {
    grid-template-columns: repeat(2,1fr);
  }
}

@media(min-width: 1000px) {
  .grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media(min-width: 1200px) {
  .grid {
    grid-template-columns: repeat(5,1fr);
  }
}
