.card {
  font-size: 0;
  border-radius: 6px;
  position: relative;

  &__content {
    text-decoration: none;
  }

  &__button {
    background-color: #1a1a2e;
    border-radius: 6px;
    color: #fff;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 500;
    padding: 6px 15px;
    position: absolute;
    right: 20px;
    top: 20px;
    z-index: 5;
    cursor: pointer;

    &--dark {
      background-color: #1a1a2e;
      color: #fff;
    }

    &--light {
      background-color: #fff;
      color: #1a1a2e;
    }
  }

  &__image {
    width: 100%;
    min-height: 500px;
    height: auto;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    transition: transform .8s ease-in-out;

  }

  &__info {
    padding: 25px 5%;
    width: 100%;
    box-sizing: border-box;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;

    &--dark {
      background-color: #fff;
    }

    &--light {
      background-color: #1a1a2e;
    }
  }

  &__title {
    font-size: 21px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    margin-bottom: 10px;

    &--dark {
      color: #1a1a2e;
    }

    &--light {
      color: #fff;
    }
  }

  &__resume {
    font-size: 16px;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    line-height: 21px;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;  
    overflow: hidden;

    &--dark {
      color: #1a1a2e;
    }

    &--light {
      color: #fff;
    }
  }
}

@media(min-width: 1000px) {
  .card {
    max-height: 500px;
    overflow: hidden;
    position: relative;

  
    &:hover {
      .card__image {
        transform: scale(1.2);
      }

      .card__button {
        top: 15px;
      }

      .card__info {
        bottom: 0;
      }
    }

    &__info {
      position: absolute;
      bottom: -100%;
      transition: bottom .8s ease-in-out;
    }

    &__button {
      top: -100%;
      transition: top .8s ease-in-out;
    }
  }
}
