.card {
  font-size: 0;
  border-radius: 6px;
  max-height: 500px;
  overflow: hidden;
  position: relative;

  &:hover {
    .card__image {
      transform: scale(1.2);
    }
    .card__info {
      bottom: 0;
    }
  }

  &__content {
    text-decoration: none;
  }

  &__image {
    width: 100%;
    min-height: 500px;
    height: auto;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    transition: transform .8s ease-in-out;

  }

  &__info {
    padding: 25px 5%;
    position: absolute;
    bottom: -100%;
    background-color: #1a1a2e;
    transition: bottom .8s ease-in-out;
    width: 100%;
    box-sizing: border-box;
  }

  &__title {
    font-size: 21px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    color: #fff;
    margin-bottom: 10px;
  }

  &__resume {
    color: #fff;
    font-size: 16px;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    line-height: 21px;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;  
    overflow: hidden;
  }
}
