.header {
  position: relative;

  &__content {
    background-color: #1a1a2e;
    padding: 30px 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    position: relative;
    z-index: 30;
  }

  &__logo {
    color: #fff;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 25px;
    margin-bottom: 20px;
  }

  &__actions {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  &__nav {
    display: flex;
    list-style: none;
    margin-bottom: 20px;

    &-item {
      color: #fff;
      margin-right: 15px;
      font-family: 'Lato', sans-serif;
      font-weight: 400;
      text-decoration: none;
      transition: color .8s ease-in-out;

      &--active {
        color: #e94560;
      }

      &:hover {
        color: #e94560;
      }

      &:last-child {
        margin-right: 0;
      }
    }
  }

  &__search {
    border: none;
    padding: 10px 15px;
    box-sizing: border-box;
    border-radius: 6px;
    min-width: 250px;
  }
}


@media(min-width: 640px) {
  .header {
    &__actions {
      flex-direction: row;
    }

    &__nav {
      margin: 0 30px 0 0;
    }
  }
}

@media(min-width: 900px) {
  .header {
    &__content {
      padding: 10px 5%;
      flex-direction: row;
    }

    &__logo {
      margin-bottom: 0;
    }
  }
}

@media(min-width: 1000px) {
  .header {
    &__nav {
      margin-right: 50px;
    }
  }
}
